<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        body {
            font-family: Arial, sans-serif;

            background-image: url('https://www.freecodecamp.org/news/content/images/size/w2000/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
            background-size: cover;
            /* Adjusts the background image size to cover the entire viewport */
            background-position: center;
            /* Centers the background image */
            background-repeat: no-repeat;
            /* Prevents the background image from repeating */


            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 30px;
        }

        form {
            text-align: center;
            margin-top: 20px;
        }

        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: border-color 0.3s ease;
        }

        input[type="text"]:focus {
            border-color: #007bff;
        }

        button[type="submit"] {
            padding: 10px 20px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        p {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
            color: #007bff;
            transition: color 0.3s ease;
        }

        p:hover {
            color: #b30054;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form method="POST" action="/url">
            Enter URL:
            <input type="text" placeholder="https://www.example.com" name="url"><br>
            <button type="submit">Generate</button>
        </form>
        <% if (locals.id) { %>
            <p>
                Your shortened URL: <%= id %>
            </p>
            <% } %>
    </div>
</body>

</html>