<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGNUP</h1>
    <form action="/use" method="POST">
        ENTER full name:<input type="text"  required name="name">
        pssd:<input type="text" required name="pssd">
        <br>
<button type="submit"> SIGNUP </button>

    </form>
    
</body>
</html>